<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit song</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="../stylesheets/edit.css">


</head>

<body>
    <div class="top">
        <div class="logo"> Tune Source</div>
        <form class="search-form" action="">
            <input name="s" placeholder="Search...">
            <label for="search-state">
                <i class="fas fa-search"></i>
            </label>
        </form>
        <div class="login">
            <ul>
                <li class="signin">Signin</li>
                <li class="signup"><i class="fas fa-user"></i>Singup</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="left">
                <ul class="menu">
                    <li style="padding-top: 20px;"><i class="far fa-play-circle"></i><a href="admin.html">Music</a></li>
                    <li><i class="fas fa-microphone-alt"></i> <a href="singer.html">Singer</a></li>
                    <li style="padding-bottom: 300px;"> <i class="fas fa-align-justify"></i><a
                            href="category.html">Category</a></li>
                    <li
                        style="margin-top: 20px;padding: 10px; border-top:2px solid rgba(130,140,150,.1); padding-top: 30px;">
                        <p style="font-size: 16px; opacity: inherit;">
                            <a href="" style="margin-right: 20px; "> Press Room</a>
                            <a href=""> About</a>
                            <a href="" style="display: block; margin-top: 15px; "> Contruct Us</a>
                        </p>
                    </li>
                    <li style="padding: 10px;">
                        <p style="font-size: 16px; opacity: inherit;">
                            <a href="" style="margin-right: 20px; "> Terms</a>
                            <a href=""> Private Policy</a>
                        </p>
                    </li>
                    <li style="padding: 10px;">
                        <p style="opacity: 0.5; font-size: 12px; padding-bottom: 10px;">@2021 Music Theme</p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <form action="" class="add-form">
                    <div class="row">
                        <label for="">Song Name</label>
                        <input type="text" id="song" name="song" value="<%=data.song%>" required />
                    </div>
                    <div class="row">
                        <label for="">Image</label>
                        <input type="text" id="img" name="img" value="<%=data.img%>" required />
                    </div>
                    <div class="row">
                        <label for="">Song category</label>
                        <input type="text" id="genre" name="genre" value="<%=data.genre%>" required />
                    </div>
                    <div class="row">
                        <label for="">Singer</label>
                        <input type="text" id="singer" name="singer" value="<%=data.singer%>" required />
                    </div>
                    <div class="row">
                        <label for="">Song description</label>
                        <textarea type="text" id="description" name="description" required><%=data.description%></textarea>
                    </div>
                    <div class="row">
                        <button class="bt-ok" type="button" id="create">Update</button>
                        <button class="bt-cancel"><a href="http://localhost:3000/admin">Cancel</a></button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    </div>

    <div class="footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('input[type="text"]').change(function () {
                this.value = $.trim(this.value);
            });
        });
        $(function () {
            $('#create').click(function (e) {
                const song = $('input[name=song]').val();
                const img = $('input[name=img]').val();
                const genre = $('input[name=genre]').val();
                const singer = $('input[name=singer]').val();
                const description = $('#description').val();
                const data = { song: song, img: img, genre: genre, singer: singer, description: description };
                let change = true;
                if (change) {
                    $.ajax({
                        type: 'POST',
                        data: data,
                        url: '/editMusic/<%=data.id%>',
                        success: function (data) {
                            if (data == true) {
                                swal({
                                    title: "Good job!",
                                    text: "You clicked the button!",
                                    icon: "success",
                                    button: "Aww yiss!",
                                }).then(function () {
                                    location.href = "/admin";
                                });

                            } else {
                                swal("Oh noes!", "The AJAX request failed!", "error");
                            }
                        },
                    });
                }
            });
        });
    </script>
</body>


</html>